extends /_layout.jade

block vars
  - var title = 'Color'

block content
  article
    :md
      # Color

    .grid-fluid
      .row.swatch-cards
        .col.xs-12
          h2 Brand Color
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'brand'; })
          +swatch(family)
      .row.swatch-cards
        .col.xs-12
          h2 UI Colors
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'primary' || o.familyName === 'secondary' || o.familyName === 'accent'; })
          +swatch(family)
      .row.swatch-cards
        .col.xs-12
          h2 Grayscale
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'black' || o.familyName === 'gray' || o.familyName === 'white'; })
          +swatch(family)
      .row.swatch-cards
        .col.xs-12
          h2 Indicating Colors
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'success' || o.familyName === 'warning' || o.familyName === 'error' || o.familyName === 'sale'; })
          +swatch(family)
    script(src='./color.js')

mixin swatch(family)
  .col.xs-12.sm-6.md-4.lg-3.xl-2
    .family.card.card-panel.z-depth-1
      .swatch(class='bg_' + family.familyName)
        .variants
          - var variants = _.orderBy(family.variants, ['lightness'], ['desc'])
          each variant in variants
            - var isBase = variant.variant === 'base'
            - var variantSuffix = isBase ? '' : '-' + variant.variant
            - var name = variant.colorName
            - var fg = 'fg_' + family.familyName + variantSuffix
            - var bg = 'bg_' + family.familyName + variantSuffix
            - var mapSuffix = isBase ? '' : ', ' + variant.variant
            .variant(
              class=bg, 
              data-color-name=name, 
              data-color-variant=variant.variant,
              data-color-map='color(' + family.familyName + mapSuffix + ')'
              data-color-fg=fg,
              data-color-bg=bg
            )
      .card-content.variant-info
        .card-title.color-name
        .card-body #[span.family-name #{family.familyName}] #[small.variant-title.fg_gray-lighter base]
          div #[span.code.color-map color(#{family.familyName})]
