extends /_layout.pug

block vars
  - var title = 'Color'

block content
  article
    h1 Color
    p
      | Rocketbelt includes a color palette with generated secondary &amp; accent colors. Color
      | can be used to attract attention to specific pieces of the design, or to indicate the state
      | of an element on the screen.

      .rb-note
        include /partials/ux.pug
        .rb-note-text Use color to guide the eye to a #[em preferred action] or to the most important information.

    p
      | The #[code tools] SASS partial provided by Rocketbelt includes a #[code color] helper
      | function to make color usage foolproof. Not only will you never need to memorize another
      | hex code, if a functional color definition changes all usages of the #[code color] function
      | will update automatically. This means much lower friction &amp; fewer repeated color
      | definitions!

      .rb-note
        include /partials/toolbelt.pug
        .rb-note-text #[b Always] use the #[code color(…)] function to declare color values.
    p
      | Even users without a vision impairment can have a hard time with low-contrast elements.
      | Be sure that text has sufficient contrast with its background. WCAG 2.0 Level AA dictates
      | a ratio of at least 4.5:1. Use tools like the
      | #[a(href='http://contrast-finder.tanaguru.com/') Tanaguru Contrast Finder] to check a
      | layout's contrast.

      .rb-note
        include /partials/a11y.pug
        .rb-note-text Never use color as the sole indicator of information.

      //- Tools: Don't use hex codes, use color function
      //- a11y: Use a tool like NoCoffee https://chrome.google.com/webstore/detail/nocoffee/jjeeggmbnhckmgdhmgdckeigabjfbddl?hl=en
      //-   or Spectrum https://chrome.google.com/webstore/detail/spectrum/ofclemegkcmilinpcimpjkfhjfgmhieb

    .grid-fluid
      .row.swatch-cards.colors_brand
        .col.xs-12
          h2.docs-header Branded Colors
        .col.xs-12.branded-colors_column
          ul.branded-colors.list-reset
            li.card.branded-color.branded-color-brand-blue Brand Blue
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#009ee1`) Hex
            li.card.branded-color.branded-color-mint Mint
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, mint)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#7cccbf`) Hex
            li.card.branded-color.branded-color-deep-blue Deep Blue
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, deepBlue)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#2e2b70`) Hex
            li.card.branded-color.branded-color-sand Sand
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, sand)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#fed4a0`) Hex
            li.card.branded-color.branded-color-sun-yellow Sun Yellow
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, sunYellow)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#fdb913`) Hex
            li.card.branded-color.branded-color-deep-brown Deep Brown
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, deepBrown)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#431e1b`) Hex
            li.card.branded-color.branded-color-pale-red Pale Red
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, paleRed)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#e58d83`) Hex
            li.card.branded-color.branded-color-warm-red Warm Red
              .card-buttons
                button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(brand, warmRed)`) Sass
                button.button-sm.button-text.copy-button.copy-button-hex(data-clipboard-text=`#f04e37`) Hex
        .col.xs-12
          .rb-note
            include /partials/ux.pug
            .rb-note-text Use Brand Blue sparingly &amp; lean more toward other palette options.
      .row.swatch-cards
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'contrast'; })
          +swatch(family)
      .row.swatch-cards
        .col.xs-12
          h2.docs-header UI Colors
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'primary' || o.familyName === 'secondary' || o.familyName === 'accent'; })
          +swatch(family)
      .row.swatch-cards
        .col.xs-12
          h2.docs-header Grayscale
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'black' || o.familyName === 'gray' || o.familyName === 'white'; })
          +swatch(family)
      .row.swatch-cards
        .col.xs-12
          h2.docs-header Indicating Colors
        each family in _.filter(colorFamilies, function (o) { return o.familyName === 'success' || o.familyName === 'warning' || o.familyName === 'error' || o.familyName === 'info' || o.familyName === 'sale'; })
          +swatch(family)
    script(src='./color.js')
    script.
      $(document).ready(function () {
        var clipboard = new Clipboard('.copy-button');

        clipboard.on('success', function(e) {
            e.clearSelection();
        });

        clipboard.on('error', function(e) {
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });
      });

mixin swatch(family)
  .col.xs-12.sm-6.md-4.xl-3
    .family.card.card-panel.z-depth-1
      .swatch(class='bg_' + family.familyName)
        .variants
          - var variants = _.orderBy(family.variants, ['lightness'], ['desc'])
          each variant in variants
            - var isBase = variant.variant === 'base'
            - var variantSuffix = isBase ? '' : '-' + variant.variant
            - var name = variant.colorName
            - var fg = 'fg_' + family.familyName + variantSuffix
            - var bg = 'bg_' + family.familyName + variantSuffix
            - var mapSuffix = isBase ? '' : ', ' + variant.variant
            - var mapVal = 'color(' + family.familyName + mapSuffix + ')'
            .variant(
              class=bg,
              data-color-name=name,
              data-color-variant=variant.variant,
              data-color-map=mapVal,
              data-color-fg=fg,
              data-color-bg=bg
            )
              button.copy-button(data-clipboard-text=mapVal)
                svg.icon(class=`icon_fill-for-${family.familyName + variantSuffix}`)
                  use(xlink:href='/components/icons/rocketbelt.icons.enterprise.svg#rb-icon-copy')
      .card-content.variant-info
        .card-header
          .card-title.color-name
          .card-buttons
            button.button-sm.button-text.copy-button.copy-button-sass(data-clipboard-text=`color(${family.familyName})`) Sass
            button.button-sm.button-text.copy-button.copy-button-hex Hex
        .card-body #[span.family-name #{family.familyName}] #[small.variant-title.fg_gray-lighter base]
          div #[span.code.color-map color(#{family.familyName})]
