//- Escaping HTML in the Jade buffer: https://github.com/pugjs/pug/issues/1468#issuecomment-38195976
mixin escape
  - var oldBuf = buf;
  - buf = [];
  block
  //- This is a little hacky, but it strips <script> tags so that Slipway
  //- doesn't appear to prefer <script> blocks. The design library itself uses
  //- <script> blocks because they're short and need to be included (escaped) 
  //- in the page as examples.
  - var addition = _.remove(buf.map(jade.escape), function (o) {
  -   return !o.match(/\s*&lt;\/?script&gt;\s*/gi);
  - });
  - buf  = oldBuf.concat(addition);

mixin wrapInExpander(collapsedLabel, expandedLabel)
  - collapsedLabel = collapsedLabel || 'Show';
  - expandedLabel  = expandedLabel  || 'Hide';
  - var id = shortid.generate();
  .expander
    input(type='checkbox', id=id, class='expander_checkbox')
    label(for=id,
          class='expander_label',
          data-collapsed-label=collapsedLabel,
          data-expanded-label=expandedLabel) #[span.expander_icon]
    .expander_content
      block

mixin exampleWithCode(htmlOrJs, inverted)
  - htmlOrJs = htmlOrJs || 'html';
  - inverted = inverted || false;
  - if (htmlOrJs === 'js') htmlOrJs = 'javascript';
  
  - var id = shortid.generate();
  - var expanderAppend = htmlOrJs === 'html' ? 'HTML' : 'JS'
  .exampleWithCode
    if (!inverted)
      .example
        block
    +wrapInExpander('Show ' + expanderAppend, 'Hide ' + expanderAppend)
      .example-code
        button.copy-code(data-clipboard-target='#' + id) Copy
        pre
          code(id=id, class='language-' + htmlOrJs.toLowerCase())
            +escape
              block
    if (inverted)
      .example
        block

- var toTitleCase = function (str) {
-   return str.replace(/-/g, ' ').replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
- }

mixin buildNav(navObject, rootHref)
  ul
    each item in navObject.sort(function (a, b) { return a.name > b.name })
      - var name = toTitleCase(item.name);
      unless item.name.indexOf('index.') > -1
        li
          - var newRootHref = rootHref ? rootHref : '';
          if item.type == 'file'
            a(href=newRootHref + '/' + item.name.replace('jade', 'html')) #{name.replace('.jade', '')}
          else
            a(href=newRootHref + '/' + item.name) #{name}

            mixin buildNav(item.children, newRootHref + '/' + item.name)
