extends /_layout.jade

block vars
  - var title = 'Tooltips'

block content
  article
    :md
      # Tooltips

      ## Default
    +exampleWithCode
      button.button-md.button-secondary(
        data-tooltip="You'd be the help of open-air luxury."
      ) Default

    :md
      ## Directional
      
    :md
      ### Left
    +exampleWithCode
      button.tooltip-left.button-md.button-secondary(
        data-tooltip="Weave a sofa or outdoor seat on display."
      ) Left

    :md
      ### Right
    +exampleWithCode
      button.tooltip-right.button-md.button-secondary(
        data-tooltip="Case in covered with nailhead trim is even more of flowers?"
      ) Right
      
    :md
      ### Bottom
    +exampleWithCode
      button.tooltip-bottom.button-md.button-secondary(
        data-tooltip="Decorated with an almost weightless, firefly-like effect."
      ) Bottom

    :md
      ## Widths
      ### Small (Default)
      
    :md
      ### Medium
    +exampleWithCode
      button.tooltip-md.tooltip-right.button-md.button-secondary(
        data-tooltip="Case in covered with nailhead trim is even more of flowers?"
      ) Medium
      
    :md
      ### Large
    +exampleWithCode
      button.tooltip-lg.tooltip-right.button-md.button-secondary(
        data-tooltip="Case in covered with nailhead trim is even more of flowers?"
      ) Large
