extends /_layout.jade

block vars
  - var title = 'Color'

block content
  article
    :md
      # Color

    .grid-fluid
      .row.swatch-cards
        each family in colorFamilies
          .col.xs-12.sm-6.md-4.lg-3.xl-2
            .family.card.card-panel.z-depth-1
              .swatch(class='bg_' + family.familyName)
                .variants
                  - var variants = _.orderBy(family.variants, ['lightness'], ['desc'])
                  each variant in variants
                    - var isBase = variant.variant === 'base'
                    - var variantSuffix = isBase ? '' : '-' + variant.variant
                    - var name = variant.colorName
                    - var fg = 'fg_' + family.familyName + variantSuffix
                    - var bg = 'bg_' + family.familyName + variantSuffix
                    - var mapSuffix = isBase ? '' : ', ' + variant.variant
                    .variant(
                      class=bg, 
                      data-color-name=name, 
                      data-color-variant=variant.variant,
                      data-color-map='color(' + family.familyName + mapSuffix + ')'
                      data-color-fg=fg,
                      data-color-bg=bg
                    )
              .card-content.variant-info
                .card-title.color-name
                .card-body #[span.family-name #{family.familyName}] #[small.variant-title.fg_gray-lighter base]
                  div #[span.code.color-map color(#{family.familyName})]
    script(src='./color.js')
