extends /_layout.pug

block vars
  - var title = 'Product Grid'

block content
  article
    h1= title

    .grid-fluid.playground
      .row
        .col.xs-12.md-3
          .playground-control
            label(for="col-count-ctrl") Column Count:
              input#col-count-ctrl.playground-item(
                type="range"
                value="3"
                data-target=".product-grid"
                data-property="class"
                data-values="2:cols-2,3:cols-3,4:cols-4"
              )
              span.playground-range-value 3
        .col.xs
          .pt-img.pt-hide
            +exampleWithCode
              include _product-grid.pug

  style(type='text/css').
    .product-grid {
      padding:0;
    }
    .grid-tile {
      list-style: none;
      border: 1px solid black;
    }
    #cog-container {
      display: none;
    }
    .cog-tile {
      min-height: 150px;
    }
    .cog-tile-wide {
      background: #1075AE;
    }
    .cog-tile-tall {
      background:#FFC300;
    }
    .cog-tile-block {
      background: #69F1DE;
    }

block scripts
  script(src='./_product-grid.js')
  script.
    rb.launchPlayground();
    gridcontentinjector.init()
    function gridRefresh () {
      $('.cog-padding').remove()
      $('.grid-tile.cog-tile').remove()
      gridcontentinjector.init()
    }

    $('#col-count-ctrl').on('input', function(){
      gridRefresh()
    })
