include _mixins

- var prepend = buildPath ? buildPath : '../..';

doctype html
html
  head
    block vars
    block title
     title #{title ? title + ' | ' : ''}Slipway Pattern Library
    block styles
      link(rel='stylesheet', href=prepend + '/css/site.min.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  body.grid-fluid
    .row(style='flex-wrap: nowrap;')
      nav.col.xs(style='flex-grow: 0;')
        block sidebar
          +buildNav(nav, prepend)
      .col.xs
        block main
          main.grid-fluid.no-margin
            .row
              .col.xs
                block content

    script(src=prepend + '/js/prism.js')
    script(src=prepend + '/js/clipboard.min.js')
    script(src=prepend + '/js/site.js')
