include _mixins

- var prepend = buildPath ? buildPath : '../..';
- var iconsPath = '/components/icons/rocketbelt.icons.svg';

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block vars
    block title
     title #{title ? title + ' | ' : ''}Rocketbelt Pattern Library
    block styles
      link(rel='stylesheet', href=prepend + '/css/site.min.css')
      link(rel='stylesheet', href=prepend + '/css/rocketbelt.creative.min.css')
      script(src='https://code.jquery.com/jquery-2.2.4.min.js')

  body.grid-fluid
    #docs-wrapper.row
      nav#docs-leftnav.nav.col.xs-12.md-3.xl-2
        a.rb-header.grid-fluid(href='/')
          .row.xs-middle
            .col.xs-2.sm-1.md-8.rb-logo.rb-logo-belt
              include /assets/rocketbelt.svg
            .col.xs-10.sm-4.md-12.rb-logo.rb-logo-uri
              include /assets/rocketbelt-uri.svg
        block sidebar
          +buildNav(nav, prepend)
      #docs-content.pad-5.col.xs
        block main
          main.grid-fluid.no-margin
            .row
              .col.xs
                block content
                if footnotes
                  h4 Reference
                  +footnoteList()

    script(src=prepend + '/js/playground.jquery.js')
    script(src=prepend + '/js/site.js')
    script(src='/base/feature-detection/rocketbelt.feature-detection.min.js')

    script(src=prepend + '/js/prism.js')
    script(src=prepend + '/js/clipboard.min.js')

    include /base/layout/_rocketbelt.flexibility.pug
    include _analytics
    block scripts
