//- Escaping HTML in the Jade buffer: https://github.com/pugjs/pug/issues/1468#issuecomment-38195976
mixin escape
  - var oldBuf = buf;
  - buf = [];
  block
  //- This is a little hacky, but it strips <script> tags so that Rocketbelt
  //- doesn't appear to prefer <script> blocks. The design library itself uses
  //- <script> blocks because they're short and need to be included (escaped) 
  //- in the page as examples.
  - var addition = _.remove(buf.map(jade.escape), function (o) {
  -   return !o.match(/\s*&lt;\/?script&gt;\s*/gi);
  - });
  - buf  = oldBuf.concat(addition);

mixin wrapInExpander(collapsedLabel, expandedLabel, expanded, id)
  - collapsedLabel = collapsedLabel || 'Show';
  - expandedLabel  = expandedLabel  || 'Hide';
  
  - var hashedId = shorthash.unique(id);

  .expander
    input(type='checkbox', id=hashedId, class='expander_checkbox', checked=expanded)
    label(for=hashedId,
          class='expander_label',
          data-collapsed-label=collapsedLabel,
          data-expanded-label=expandedLabel) #[span.expander_icon]
    .expander_content
      block

mixin exampleWithCode(htmlOrJs, expanded, inverted)
  - htmlOrJs = htmlOrJs || 'html';
  - inverted = inverted || false;
  - if (htmlOrJs === 'js') htmlOrJs = 'javascript';
  - var seed = escape(block);
  - var id   = shorthash.unique(seed);
  
  - var expanderAppend = htmlOrJs === 'html' ? 'HTML' : 'JS'
  .exampleWithCode
    if (!inverted)
      .example
        block
    +wrapInExpander('Show ' + expanderAppend, 'Hide ' + expanderAppend, expanded, id)
      .example-code
        button.copy-code(data-clipboard-target='#' + id) Copy
        pre
          code(id=id, class='language-' + htmlOrJs.toLowerCase())
            +escape
              block
    if (inverted)
      .example
        block

- var toTitleCase = function (str) {
-   return str.replace(/-/g, ' ').replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
- }

mixin buildNav(navObject, rootHref)
  ul.list-reset
    each item in navObject.sort(function (a, b) { return a.name > b.name })
      - var name = toTitleCase(item.name);
      unless item.name.indexOf('index.') > -1
        - var newRootHref = rootHref ? rootHref : '';
        - var shortName = item.name.replace('jade', '');
        li(ref=shortName)
          if item.type == 'file'
            if rootHref.indexOf('img') == -1 && item.name.indexOf('img') == -1
              a(href=newRootHref + '/' + item.name.replace('jade', 'html')) #{name.replace('.jade', '')}
          else
            if rootHref.indexOf('img') == -1 && item.name.indexOf('img') == -1
              a(href=newRootHref + '/' + item.name) #{name}

            mixin buildNav(item.children, newRootHref + '/' + item.name)
