extends /_layout

block vars
  - var title = 'Tooltips'

block content
  article
    h1 Tooltips
    h2 Default
    +exampleWithCode
      button.button-md.button-secondary(
        data-tooltip="You'd be the help of open-air luxury."
      ) Default

    h2 Directional

    h3 Left
    +exampleWithCode
      button.tooltip-left.button-md.button-secondary(
        data-tooltip="Weave a sofa or outdoor seat on display."
      ) Left

    h3 Right
    +exampleWithCode
      button.tooltip-right.button-md.button-secondary(
        data-tooltip="Case in covered with nailhead trim is even more of flowers?"
      ) Right

    h3 Bottom
    +exampleWithCode
      button.tooltip-bottom.button-md.button-secondary(
        data-tooltip='Decorated with an almost weightless, firefly-like effect.'
      ) Bottom

    h2 Widths
    h3 Small (Default)

    h3 Medium
    +exampleWithCode
      button.tooltip-md.tooltip-right.button-md.button-secondary(
        data-tooltip='Especially when you’re snuggled up your family and beyond. Did you with a cabinet or to kick back.'
      ) Medium

    h3 Large
    +exampleWithCode
      button.tooltip-lg.tooltip-right.button-md.button-secondary(
        data-tooltip='Our 10-foot battery-powered Pearl Strand Glimmer Strings® use your decor that nostalgic feeling of sweet orange. Refill your indoor/outdoor settee cushion.'
      ) Large
