form
  .form-group
    input#disabled-fname(type='text', disabled=true)
    label(for='disabled-fname') First Name
  .form-group
    select#disabled-select(disabled=true)
      option(value='', disabled=true, selected=true, hidden=true) Select a collection
      option Biblioteca
      option Marcel
      option Pierce
    label(for='disabled-select') Collection
  fieldset
    legend Collection
    ul.radio-group
      li
        input#disabled-radio-1(type='radio', disabled=true, value='biblioteca', name='disabled-radio-group')
        label(for='disabled-radio-1') Biblioteca
      li
        input#disabled-radio-2(type='radio', disabled=true, checked=true, value='marcel', name='disabled-radio-group')
        label(for='disabled-radio-2') Marcel
      li
        input#disabled-radio-3(type='radio', checked=true, value='pierce', name='disabled-radio-group')
        label(for='disabled-radio-3') Pierce
  fieldset
    legend Collection
    ul.checkbox-group
      li
        input#disabled-check-1.rb-checkbox(type='checkbox', disabled=true, value='biblioteca', name='disabled-check-group')
        label(for='disabled-check-1') Biblioteca
      li
        input#disabled-check-2.rb-checkbox(type='checkbox', disabled=true, checked=true, value='marcel', name='disabled-check-group')
        label(for='disabled-check-2') Marcel
      li
        input#disabled-check-3.rb-checkbox(type='checkbox', checked=true, value='pierce', name='disabled-check-group')
        label(for='disabled-check-3') Pierce
